# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Custom
.idea/
Accounter.iml
out/
src/accounter/.DS_Store
lib
old-versions/version-0.1/src/.DS_Store
src/META-INF

.ser
.DS_Store
res/ser/
META-INF/MANIFEST.MF
old-versions/version-0.1/src/.DS_Store
